
.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.2s ease 0s;

	&-green{
		color: $whiteColor;
		background-color: $greenColor;
		border-radius: 30px;
		box-shadow: 0px 5px 16px 0px rgba(80, 160, 85, 0.30);
		@media (any-hover: hover){
			&:hover{
				background: $hoverGreenColor;
			}
		}
		&:active{
			background: $clickGreenColor;
		}
	}

	&-blue{
		background-color: $blueColor;
		border-radius: 30px;
		color: $whiteColor;
		box-shadow: 0px 5px 16px 0px rgba(37, 102, 176, 0.33);
		@media (any-hover: hover){
			&:hover{
				background: $hoverBlueColor;
			}
			&:active{
				background: $clickBlueColor;
			}
		}
	}

	&-one-click{
		padding: 14px 17px;
		max-width: 47px;
		border-radius: 30px;

		font-size: 16px;
		font-weight: 700;
		color: $grayColor;
		border: 1px solid $grayColor;
		box-shadow: none;
		&._active{
			border: 1px solid $blueColor;
			color: $blueColor;
			@media (any-hover: hover){
				&:hover{
					color: $hoverBlueColor;
					border: 1px solid $hoverBlueColor;
				}
				&:active{
					color: $clickBlueColor;
					border: 1px solid $clickBlueColor;
				}	
			}
		}
	}


	&-product{
		&._active{
			min-height: 47px;
			width: 100%;
			color: $whiteColor;
			text-align: center;

			font-size: 16px;
			font-weight: 700;
		}
		&.to-cart{
			border: 1px solid $blueColor;
			background-color: #fff;
			color: $clickBlueColor;
		}
	}
}
