.checkbox {
	position: relative;
	&:not(:last-child) {
		margin-bottom: 20px;
	}
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:checked + .checkbox__label:before {
			background: url('@img/icons/check.svg') center no-repeat;
			border: 2px solid rgba(218, 218, 218, 0)
		}
	}
	// .checkbox__label
	&__label {
		cursor: pointer;
		display: inline-flex;
		position: relative;
		gap: 15px;
		&:before {
			content: "";
			align-self: flex-start;
			flex: 0 0 16px;
			width: 16px;
			height: 16px;
			border: 1px solid #969696;
			border-radius: 3px;
		}
	}
	// .checkbox__text
	&__text {
		align-self: center;
	}
}
